body{
    background-color: black;

    color: white;
    font-family: "Open Sans", sans-serif;

    letter-spacing: 2px;
    
    

}
.profile-picture {
    animation: down 2s;
    border-radius: 100%;
    object-fit: cover;
    border: 10px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-width: 150px;
    height: auto;
    position: relative;
    top: 170px;

}

.profile-name {
    color: black;
    position: relative;
    top: 175px;
    text-align: center;
    animation: up 2s;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 700;
   
    
}

.server, .account {
    text-align: center;
    margin-top: 20px;
    border: 1px solid violet;
    border-width: 2px;
    cursor: url(bloodknife1.png), auto;
    background-image: url('https://cdn.axolotl.wiki/sparkles.gif');
    font-size: 24px;
    font-weight: 700;
   

    width: 500px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    border-radius: 20px;

    font-size: 18px;
    padding: 10px;

}
a {
   text-decoration: none;

   color: red;
   transition: color 1s;

}

a:hover {
    color: blue;
    background-color: white;
    transform: scale(1.1)
}
.server{
    position: relative;
    left: 330px;
    top: 235px;
}
.account{
    position: relative;
    right: 290px;
    top: 145px;
}

.discimg{
    text-align: center;
    margin-left: 600px;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    cursor: url(bloodknife1.png), auto;
    position: absolute;
}
a{
    text-decoration: none;

   color: black;
   transition: color 1s;
}
    
.enter {
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  
    font-family: 'Source Code Pro', monospace;
    cursor: url(bloodknife1.png), auto;
  }
  
  .enter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .iglink{
    cursor: url(bloodknife1.png), auto;
    position: absolute;
}
a{
    text-decoration: none;

   color: black;
   transition: color 1s;
}
.ttlink{
    cursor: url(bloodknife1.png), auto;
    position: absolute;
   
}

.rbxlink{
    cursor: url(bloodknife1.png), auto;
    position: absolute;
}
a{
    text-decoration: none;

   color: black;
   transition: color 1s;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    padding: 0 60px;
    color: #16a085;
}
.footer-wrapper{
padding: 40px 0;
display: flex;
justify-content: space-between;
align-items: center;

}
