body{
    background-color: black;

    color: white;
    font-family: "Open Sans", sans-serif;

    letter-spacing: 2px;
    overflow: hidden;

    
    

}
.profile-picture {
    animation: down 2s;
    border-radius: 100%;
    object-fit: cover;
    border: 10px solid #201f1f38;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-width: 150px;
    height: 150px;
    position: relative;
    top: 120px;
    
}

.profile-name {
    color: whitesmoke;
    position: relative;
    top: 100px;
    text-align: center;
    animation: up 2s;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 700;
    font-family:'Strange Piece'
    
}


   




.discimg{
    text-align: center;
    margin-left: 620px;
    margin-right: auto;
    display: inline-block;
    margin-top: 25px;
    cursor: url(bloodknife1.png), auto;
    position: absolute;
    top: 350px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));

}
.discimg:hover{
    -webkit-box-shadow:0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    transform: scale(1.1);
}

a{
    text-decoration: none;

   color: black;
   transition: color 1s;
}
    
.enter {
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  
    font-family: 'Source Code Pro', monospace;
    cursor: url(bloodknife1.png), auto;
  }
  
  .enter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .iglink{
    text-align: center;
    margin-left: 660px;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    cursor: url(bloodknife1.png), auto;
    position: absolute;
    top: 350px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));
}
.iglink:hover{
    -webkit-box-shadow:0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    transform: scale(1.1);
}

a{
    text-decoration: none;

   color: black;
   transition: color 1s;
}
.ttlink{
    text-align: center;
    margin-left: 700px;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    cursor: url(bloodknife1.png), auto;
    position: absolute;
    top: 350px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));
}
.ttlink:hover{
    -webkit-box-shadow:0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    transform: scale(1.1);
}


.spotlink{
    text-align: center;
    margin-left: 740px;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    cursor: url(bloodknife1.png), auto;
    position: absolute;
    top: 350px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));

}
.spotlink:hover{
    -webkit-box-shadow:0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    -moz-box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    box-shadow: 0px 0px 20px 1px rgba(97, 105, 109, 0.9);
    transform: scale(1.1);
}
a{
    text-decoration: none;

   color: black;
   transition: color 1s;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    padding: 0 60px;
    color: #16a085;
}
.footer-wrapper{
padding: 40px 0;
display: flex;
justify-content: space-between;
align-items: center;

}
.discordemb{
    position: absolute;
    top: 375px;
    left: 300px;
    cursor: url(bloodknife1.png), auto;
  
  
}

.rounded-md {
 top: 15rem;
 position: relative;
 left: 10px;
}

.bio-text{
    position: fixed;
    font-size: 16px;
    font-weight: 500;
    color:#f1f1f1bd;
    text-align: center;
    bottom: 50%;
    right: 45%;
}

.spotifys{
    animation: up 2s;
    margin-bottom: 50px;
    width: 50%;
    position: relative;
    top: 12rem;
    left: 23rem;
}

@media only screen and (max-width: 768px) {
    .blur{
        max-width: 100%;
    }
  }
  @media only screen and (min-width: 2000px) {
    .blur{
        max-width: 50%;
    }
  }